.carouselContainer {
  display: flex;
  max-width: 100%;
  position: relative;
}

.carouselImages {
  max-width: 100%;
}

.nextIconCarousel,
.prevIconCarousel {
  border: 0;
  background-color: var(--white);
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.nextIconCarousel {
    right: 1rem;
  }

  &.prevIconCarousel {
    left: 1rem;
  }
}
