.details-container
    background-color: white
    color: black
    padding: 30px
    display: flex
    flex-direction: column
    gap: 10px
    @media screen and (max-width: 375px)
        gap: 5px

    h1, h3, p 
        padding: 0
        margin: 0

    #product-title
        font-size: 1.9rem
        font-weight: 800

    #product-company
        color: var(--orange)
        font-weight: 700

    h3 
        text-transform: uppercase
        color: var(--orange)
        font-size: 1rem
        letter-spacing: 0.1rem

    // for discount percent
    span
        color: var(--orange)
        font-weight: 700
        background-color: var(--pale-orange)
        padding: 2px 5px
        border-radius: 15%

    #discounted-price
        font-size: 2rem
        font-weight: 700
        color: black

    #original-price
        font-size: 01rem
        font-weight: 700
        text-decoration: line-through
        color: var(--grayish-blue)

    #product-description
        margin: 25px 0
        color: var(--dark-grayish-blue)
        font-size: 1.2rem
        font-weight: 450

.details-price-container
    display: flex
    flex-direction: column
    @media screen and (max-width: 375px)
        flex-direction: row
        justify-content: space-between
        align-items: center
.discounted-price-and-discount
    display: flex
    flex-direction: row
    align-items: center
    gap: 10px

.details-cart-quantity
    display: flex
    flex-direction: row
    align-items: stretch
    gap: 10px
    @media screen and (max-width: 375px)
        flex-direction: column
        align-items: stretch
        gap: 10px

.details-quantity
    display: flex 
    flex-direction: row
    align-items: center
    justify-content: space-between
    height: 50px
    width: 150px
    gap: 15px
    background-color: var(--light-grayish-blue)
    border-radius: 10px
    @media screen and (max-width: 375px)
        width: 100%

    p
        font-weight: 700
        color: black
    button
        background-color: transparent
        color: black
        display: flex
        align-items: center
        border: 0px
        &:hover
            border: 0px

.details-add-to-cart
    color: white
    button
        background-color: var(--orange)
        display: flex
        flex-direction: row
        align-items: center
        width: 250px
        height: 100%
        gap: 15px
        border: 0
        color: white
        flex-grow: 1
        padding: 0 min(60px)
        box-shadow: var(--orange) 0px 25px 20px -20px
        @media screen and (max-width: 375px)
            height: 50px
            width: 100%
            display: flex
            justify-content: center
        &:hover
            opacity: 80%
    p 
        font-weight: 700
